## READING AND WRITING EXCEL FILE WITH OPENPYXL LIBRARY

In [23]:
import openpyxl

#loading workbook
wb = openpyxl.load_workbook("song_frame_1.xlsx")

#getting sheetnames in the workbook
sheets = wb.sheetnames

print(sheets)

['songs', 'Sheet2', 'Sheet3']

In [24]:
#print active sheet in a workbook
print(wb.active)

print(wb.active.title)

<Worksheet "songs">
songs

In [27]:
# option 1 to get value of a cell in the active sheet of a workbook

sh1 = wb['songs']

d1 = sh1['A2'].value

d2 = sh1['B2'].value
print(d2)


d3 = wb['songs']['B3'].value

print(d3)

Thriller
The Bodyguard

In [43]:
# option 2 to get value of a cell in the active sheet of a workbook
# this option uses row comma column style

d4 = sh1.cell(1,2).value
print(d4)

d5 = sh1.cell(1,3).value
print(d5)


print(sh1.cell(2,1).value)
print(sh1.cell(2,2).value)
print(sh1.cell(2,3).value)

print(sh1.cell(3,1).value)
print(sh1.cell(3,2).value)
print(sh1.cell(3,3).value)

Album
Released
1
Thriller
1982
2
The Bodyguard
1992

In [47]:
# Sheet2
sh2 = wb['Sheet2']

print(sh2.cell(1,1).value)
print(sh2.cell(1,2).value)

print(sh2.cell(2,1).value)
print(sh2.cell(2,2).value)

print(sh2.cell(3,1).value)
print(sh2.cell(3,2).value)

Name
Number
Ronaldo
7
Messi
11

In [54]:
# Using option 1 on Sheet2

print(wb['Sheet2']['A2'].value)
print(wb['Sheet2']['B2'].value)

Ronaldo
7

In [56]:
# option 3 to get value of a cell in the active sheet of a workbook
# this option uses row comma column style

# Using option 3 on Sheet2

print(sh2.cell(row=3, column=1).value)
print(sh2.cell(row=3, column=2).value)

Messi
11

In [60]:
# option 4

op4 = wb.get_sheet_by_name('songs').cell(row=3, column=2).value

print(op4)

The Bodyguard

/tmp/ipykernel_5162/4098749268.py:3: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  op4 = wb.get_sheet_by_name('songs').cell(row=3, column=2).value

In [67]:
#getting the numbers of rows and columns

r = sh1.max_row
c = sh1.max_column

print(r)
print(c)

3
4

In [81]:
# Using forloop to get data
for i in range(1,r+1):
    for j in range(1,c+1):
        print(sh1.cell(i,j).value)

SN
Album
Released
Length
1
Thriller
1982
00:20:19
2
The Bodyguard
1992
00:38:09

In [84]:
# Appending or writing values in empty cells

sh1.cell(row=4, column=1, value=3)
sh1.cell(row=4, column=2, value='Theta')
sh1.cell(row=4, column=3, value=2022)
sh1.cell(row=4, column=4, value='00:20:19')

# Saving
wb.save("song_frame_1.xlsx")

In [85]:
# Saving as another workbook
wb.save("xldata.xlsx")